@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .with-icons {
    @apply flex items-center space-x-1;
  }

  .link {
    @apply cursor-pointer;
  }

  .section-container {
    @apply flex flex-col justify-center pt-10 space-y-5;
  }

  .icon-styles {
    @apply h-5 w-5 cursor-pointer hover:scale-125 transition duration-150;
  }

  .bottom-menu-icon {
    @apply w-6 cursor-pointer active:scale-90 transition duration-150 hover:scale-125;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
